    body{
        margin-left: 10px;
        padding-left: 10px;
    }
    header{
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        color: rgba(0, 162, 255, 0.596);
            display: inline-block;
            font-size: 50px;
        
           
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgb(0, 119, 255);
    }
    nav{
        background-color: rgba(153, 162, 165, 0.116);
        padding: 4px;
        border-radius: 10px;
    }
    th{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    td{
        text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif; 
        padding: 5px;
        font-weight: bolder;
        
    }
    .alagse{
        background-color: #f0f0f0;
        padding: 10px;
        border-radius: 10px;
    }
    h1{
        font-size: 35px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgba(0, 183, 255, 0.575);
    }
   .tr{
       color: rgb(216, 9, 216);
   }
  
  

a:link {
    color: rgba(23, 0, 128, 0.582);
    text-decoration: none;
  }
  
a:visited{
    color: rgba(23, 0, 128, 0.582)
}
  
a:hover {
    text-decoration: underline;
    color: rgb(156, 31, 0);
    font-size: 105%;
  }
  
a:active {
    color: rgb(18, 1, 58);
    font-size: 110%;
  } 